.container{
    margin-top: 200px;
    margin-left: 600px;
}
.mb{
    height: 38px;
    width: 276px;
}
.border{
    height: 320px;
    width: 400px;
    border: 1px solid grey;
}
.fields{
    margin-top: 20px;
    margin-left: 40px;
}
h2{
    margin-left: 100px;
    margin-top: 40px;
}
.errors{
    color: red;
    margin-left: 10px;
    margin-top: 10px;
}
.create-board-btn{
    margin-top: 100px;
    margin-left: 600px;
}
#my-boards{
    margin-left: 600px;
}
.board-input{
    width: 220px;
    margin-left: 100px;
    margin-top: 30px;
    border-radius: 10px;
    padding-left: 20px;
    border: 1px solid gainsboro;
    height: 40px;
}

.card{
    margin-top: 50px;
    margin-left: 300px;
    border: none;
    display: block;
}
.create-new{
    margin-left: 80px;
   
}
.buttons{
    margin-top: 100px;
    margin-left: 100px;

}
.bootstrap-btns{
    margin-left: 20px;
}
#create{
    margin-left: 90px;
}